
<div class="top"><!-- --></div>
<!-- text and image -->
<div id="img-container">

    <span class="nothumb">
        <img src="~/Images/profileimage.jpg"   alt="&nbsp;" title="&nbsp;"/>
    </span>
</div>

<!-- end text and image -->
