@model Pasha.Models.PreviewModel



<div id="ndxz-media">
    <p>
        <a href="http://johnbalsom.com/indexhibit/index.php/menswear/new-work/">Назад</a>&nbsp;&nbsp; <span id="where"> of  </span> &nbsp;&nbsp;<span class="inactive">Предыдущий</span> |  <a href="http://johnbalsom.com/indexhibit/index.php/menswear/new-work/L309_JBA_GQ_CallumTurner_SH10_018_V2_0427.jpg" title="Next">Следующий</a> &nbsp;

    </p>
    <p>
        <img src="~/Images/Weddings/@model.Name" width="877" height="620">
    </p>
    <div id="media_info">
    </div>


</div>