
@{
    ViewBag.Title = "AdminListChanging";
}

<h2>AdminListChanging</h2>

@Html.ActionLink("Return to list of users", "PrivateZone")

<table class="table">
    <tr>
        <th>
            Email Adress
        </th>
    </tr>

    @foreach (ASP.NET.DIGILEVICH.FileStorage.Models.ApplicationUser item in Model)
    {
        <tr>
            <td>
                @item.Email
            </td>

            <td>
                @Html.ActionLink("Make user", "AdminBecomeUser", item)
            </td>

        </tr>
    }

</table>
