@{
    ViewBag.Title = "AllFiles";

    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("OrderFiles")
    };
}
<div class="jumbotron">
<h2>AllFiles</h2>

<p>
    <h3>File search</h3>
    @using (Html.BeginForm("Search", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="text" name="teg" /><br>
        <input type="submit" value="Find" />
    }
</p>
    <table class="table">

        @using (Ajax.BeginForm(options))
        {
            <tr>
                <th>
                    File name
                </th>
                <th>
                    User name
                </th>
            </tr>

            <tbody id="tabledata">
                @Html.Action("OrderFiles")
            </tbody>

            <tr>
                <th>
                    <p style="color:#333333;padding:10px">
                        <h3>Number of page</h3>
                        <input type="text" name="n" size="3" />
                        <input type="submit" value="Submit" />
                    </p>
                </th>
            </tr>
        }
    </table>
</div>
