@{
        ViewBag.Title = "PrivateZone";

        var options = new AjaxOptions()
        {
            UpdateTargetId = "tabledata",
            Url = Url.Action("OrderData")
        };
}

<div class="jumbotron">
    @using (Ajax.BeginForm(options))
    {
        <table class="table">
            <tr>
                <th>
                    Email Adress
                </th>
            </tr>

            <tbody id="tabledata">
                @Html.Action("OrderData", new { id = Model })
            </tbody>


            <tr>
                <td>
                    <p style="color:#333333;padding:10px">
                        @Html.DropDownList("id", new SelectList(new[] { "All", "User", "Admin" }, Model ?? "All"))
                        <input type="submit" value="Submit" />
                    </p>
                </td>
            </tr>
        </table>
    }

    @section scripts
    {
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }

</div>