@model ASP.NET.DIGILEVICH.FileStorage.Models.ApplicationUser
@{
    ViewBag.Title = "UserBecomeAdmin";
}

<div class="jumbotron">@Model.UserName теперь админ.</div>

@Html.ActionLink("Return to list", "PrivateZone")

