@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="col-md-6">
        <img class="img-responsive" style="border-radius:333px;height:160px" src="~/Image/imgres2.jpg" />
    </div>
    <div class="col-md-6" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:xx-large">
        <div class="row" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:xx-large">Keep</div>
        <div class="row" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:xx-large">files in the</div>
        <div class="row" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:xx-large">FileStorage</div>
    </div>
</div>